<div id="preloader" *ngIf="load">
  <div id="loader"></div>
</div>

  <div *ngIf="!load">

    <div class="sidenav">
      <div class="login-main-text">
         <h2>Application<br> Page de connection</h2>
         <p>Bienvenue.</p>
      </div>
   </div>
   <div class="main">
      <div class="col-md-6 col-sm-12">
         <div class="login-form">
            <form
              *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <div class="form-group">
                <label for="email">email</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  [(ngModel)]="form.email"
                  required
                  #email="ngModel"
                />
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && email.invalid"
                >
                  email is required!
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  minlength="5"
                  #password="ngModel"
                />
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && password.invalid"
                >
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-black btn-block">
                  Se connecter
                </button>
                <a routerLink="/forgot">
                  Mot de passe oublié?
                </a>
              </div>
              <div class="form-group">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && isLoginFailed"
                >
                Erreur de connection: {{ errorMessage }}
                </div>
              </div>
            </form>
        
            <div class="alert alert-success" *ngIf="isLoggedIn">
              Logged in as {{ roles }}.
            </div>
         </div>
      </div>
   </div>
  </div>
  