<div *ngIf="!load">
<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="recherche" class="sr-only">recherche</label>
    <input type="text" class="form-control" #searchFld id="recherche" placeholder="recherche">
  </div>
  <button type="button" class="btn btn-primary mb-2" (click)="search(searchFld.value)">Chercher</button>
  <button type="button" class="btn btn-primary mb-2 ml-3" (click)="searchReset()">Annuler</button>
  <button (click)="collapseAll()" class="ml-auto btn btn-primary ">Tout fermer</button>
<button (click)="expandAll()" class="btn btn-primary ml-2">Tout ouvrir</button>
</form>
<div class="row">
  <div class="col-md-8">
    <ul class="root-level">
      <ng-template #levelList let-parent>
        <li *ngFor="let item of getItemsAtParent(parent)" [ngClass]="{'found': found.includes(item)}">
          <span class="badge">
            <span class="expando" (click)="toggle(item)" [ngClass]="{'expanded': opened.has(item.id)}">
              <ng-container *ngIf="hasChildren(item.id)">▶</ng-container>
            </span>
          <span (click)="toggle(item)" style="cursor: pointer;" [ngClass]="{'expanded': opened.has(item.id)}"><i class="fa fa-folder m-2 debug" *ngIf="item.isFolder"></i><i class="fa fa-file m-2" *ngIf="!item.isFolder"></i>{{item.title}}</span>
          <span >
            <a (click)=showCreateFolder(item.id) *ngIf="item.isFolder" style="cursor: pointer;" ><i class="fa fa-plus-circle ml-3"></i></a>
            <a *ngIf="item.isFolder && item.parent!==0" (click)="remove(item)" style="cursor: pointer;" ><i class="fa fa-trash ml-3"></i></a>
            <a *ngIf="item.isFolder && item.parent!==0" class="" (click)="renameFile(item)" style="cursor: pointer;" > <i class="fa fa-edit ml-3"></i></a>
            <a (click)="showUploadFile(item.id)" *ngIf="item.isFolder" style="cursor: pointer;" ><i class="fa fa-upload ml-3"></i></a>
            </span>
            <span *ngIf="!item.isFolder">
              <a (click)=downloadFile(item) style="cursor: pointer;" ><i class="fa fa-arrow-circle-down ml-3"></i></a>
              <a (click)="remove(item)" style="cursor: pointer;" ><i class="fa fa-trash ml-3"></i></a>
              <a class="" (click)="renameFile(item)" style="cursor: pointer;" > <i class="fa fa-edit ml-3"></i></a>
              </span>
          </span>
    
    
          <ng-container *ngIf="opened.has(item.id)">
            <ul>
              <ng-container *ngTemplateOutlet="levelList; context: {$implicit: item.id}"></ng-container>
            </ul>
          </ng-container>
        </li>
      </ng-template>
      <ng-container *ngTemplateOutlet="levelList; context: {$implicit: 0}"></ng-container>
    </ul>
  </div>
  <div class="col-md-4">

    
    <div class="pdf-container">
      <pdf-viewer class="viewer" *ngIf="pdfSrc"
                  [src]="pdfSrc"
                  [show-all]="false"
                  [(page)]="pageVariable"
                  [render-text]="true"
                  [original-size]="false"
      ></pdf-viewer>
      <div *ngIf="pdfView">
        <button (click)="prevPage()" class="btn btn-primary">Retour</button>
        <button (click)="nextPage()" class="btn btn-primary ml-2">Suivant</button>
      </div>
    </div>
  </div>
</div>
</div>

<div id="preloader" *ngIf="load">
  <div id="loader"></div>
</div>



