

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
 <!--        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">Profile</a>
        </li> -->
        <li class="nav-item">
          <a href="/cabinet" class="nav-link"*ngIf="superAdmin" routerLink="cabinet">Cabinet</a>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link" *ngIf="superAdmin" routerLink="register">Inscription</a>
        </li>
        <li class="nav-item">
          <a href="/historic" class="nav-link" *ngIf="isAdmin || superAdmin" routerLink="historic">Historique</a>
        </li>
        <li class="nav-item">
          <a href="/list-user" class="nav-link" *ngIf="superAdmin" routerLink="list-user">Liste utilisateur</a>
        </li>
        <li class="nav-item">
          <a href="/explorer" class="nav-link" routerLink="explorer">Fichier</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">Deconnecter</a>
          </li>
        </ul>
      </form>
    </div>
  </nav>