<div class="list row">
    <div class="col-md-8 mt-3">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Rechercher email..."
          #val
          (click)="refresh()"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle(val.value)"
          >
            Rechercher
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Liste des utilisateurs</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials| paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          }; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
        >
          {{ tutorial.email }}
        </li>
      </ul>
  
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTutorial">
        <h4>Description</h4>
        <div>
          <label><strong>Nom:</strong></label> {{ currentTutorial.name }}
        </div>
        <div>
          <label><strong>Email:</strong></label>
          {{ currentTutorial.email }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          <span *ngIf="currentTutorial.roles === '3'">Admin </span>
          <span *ngIf="currentTutorial.roles === '2'">Utilisateur </span>
          <span *ngIf="currentTutorial.roles === '1'">Super Admin </span>
        </div>
  
        <a class="badge badge-warning" >
          <span  (click)="editUser(currentTutorial.id)" >Modifier</span>
        </a>
      </div>

    
  
      <div *ngIf="!currentTutorial">
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        responsive="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
  </div>
  